In [ ]:
import pandas as pd
from  bs4 import BeautifulSoup
from urllib.request import urlopen

# url = 'https://finance.naver.com/item/sise_day.naver?code=068270&&page=1'
url = 'https://finance.naver.com/item/sise_day.naver?code=068270&&page=1'

with urlopen(url) as doc :
    html = BeautifulSoup(doc,'lxml')
    print(html)
    # pgrr =  html.select('.pgRR')
    # print(pgrr)

네이버가 웹 스크레이핑을 차단해서 파이썬을 통해 urlopen() 으로 생으로 접근하면    
해당주소가 없는주소라고 결과를 보낸다.     
아래와 같이 header를 넣어주어 정상적인 웹브라우져에서 접근하는것처럼 해야 한다.

In [61]:
import pandas as pd
from  bs4 import BeautifulSoup
import requests

url = 'https://finance.naver.com/item/sise_day.naver?code=068270&&page=1'

doc = requests.get(url,headers={'User-agent':'Mozilla/5.0'})
html = BeautifulSoup(doc.text,'lxml')

# pgrr =  html.find('td',class_='pgRR')
# print(type(pgrr))          #  <class 'bs4.element.Tag'>

pgrr =  html.select("td.pgRR>a")
a = pgrr[0]['href'].split('=')
last_page = int(a[-1])
print(last_page)

# print(type(pgrr))    #  <class 'bs4.element.ResultSet'>
# print(type(pgrr[0]))    #  <class 'bs4.element.Tag'>

/item/sise_day.naver?code=068270&&page=404
['/item/sise_day.naver?code', '068270&&page', '404']
404

## CSS selector 에 대한 문서     
- https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors     
- https://www.w3schools.com/cssref/css_selectors.asp     

## bs4.select 와 find 사용했을때 차이점.    

pgrr =  html.find('td',class_='pgRR')     
print(type(pgrr))          #  <class 'bs4.element.Tag'>     

pgrr =  html.select("td.pgRR>a")     
print(type(pgrr))       #  <class 'bs4.element.ResultSet'>     
print(type(pgrr[0]))    #  <class 'bs4.element.Tag'>

In [71]:
df  = pd.DataFrame()

url = 'https://finance.naver.com/item/sise_day.naver?code=068270'
for  p in range(1,last_page+1) :
    page_url = '{}&&page={}'.format(url,p)
    doc = requests.get(page_url,headers={'User-agent':'Mozilla/5.0'})
    df = df.append(pd.read_html(doc.text,header=0)[0])
df = df.dropna()

In [72]:
df.tail()

            날짜      종가     전일비      시가      고가      저가       거래량
10  2005.07.25  5650.0    70.0  5500.0  5950.0  5500.0   61036.0
11  2005.07.22  5580.0   160.0  5850.0  5850.0  5530.0   69921.0
12  2005.07.21  5740.0   810.0  6450.0  6580.0  5730.0  182685.0
13  2005.07.20  6550.0  1150.0  7690.0  7690.0  6550.0  422688.0
1   2005.07.19  7700.0  2500.0  6700.0  7700.0  6510.0  499088.0